html, body{
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI';
}
#container{
   background-image: url(ghibli8.gif);
   background-size: cover;
   height: 577px;
   width: 100%;
   justify-content: center;
   padding-top: 100px;
 }
 #box{
    top: 0;
    height:300px;
    width: 400px;
    background-color: rgb(223, 223, 223);
    margin: 0 auto;
    justify-content: center;
    border-radius: 20px;
    border: solid #36363a;
    padding-top: 30px;
    padding-bottom: 10px;
    display: grid;
    grid-template-rows: auto auto auto ;
    opacity: 0.93;
}

.button{
    border: none;
    border-radius: 2px;
    color: white;
    background-color: #4486F6;
    padding: 4px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: 590;
    font-family: "Segoe UI";
    margin: 4px 2px;
    cursor: pointer;  
    width: 70px;
    height: 30px;
  }
  .button:focus{
      outline: none;
  }
 