html, body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

#container{
   display: grid;
   grid-template-rows: 100px 800px auto auto auto auto auto; 
}

#menuBar{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 0px;
    background-color: #3B5998;
    overflow: hidden;
    position: sticky;
    top: 0;
    text-align: center;
    padding-top: 45px;
    padding-left: 90px;
    padding-right: 90px;
}
.navBarLinks{
    font-weight: 300;
    font-size: 17px;
    text-decoration: none;
    color: #ffffff;
}
.navBarLinks:hover{
    color: #90949c;
    text-decoration: none;
}

#homePage{
    background-image: url(HomePage.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#profile{
    background-color: #edf0f5;
    display: grid;
    grid-template-rows: 87px auto;
    height:650px;
}

.title{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 650;
    grid-column: 10px;
}

#educ{
    height: 650px;
    background-color: #ADB9D3;
    display: grid;
    grid-template-rows: 87px auto;
}
#orgs{
    height: 650px;
    background-color: #edf0f5;
    display: grid;
    grid-template-rows: 87px auto;
}
#work{
    height: 650px;
    background-color: #ADB9D3;
    display: grid;
    grid-template-rows: 87px auto;
}
#links{
    height: 400px;
    background-color: #90949c;
}

.details{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}